* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  background-color: rgb(236, 82, 172);
  padding: 10px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  text-decoration: none;
}

.logo {
  font-size: 40px;
}

.nav {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  gap: 75px;
  align-items: center;
}
.nav a {
  text-decoration: none;
  color: cyan;
  font-size: 20px;
}
.nav a:hover {
  background-color: rgb(210, 179, 240);
}

#btn {
  height: 40px;
  width: 100px;
  border: none;
  border-radius: 15px;
  background-color: aqua;
  font-size: 15px;
  box-shadow: 4px 7px;
}

.side {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1;
  background-color: rgb(212, 154, 135);
  padding: 10px;
}

.ham {
  display: none;
}

@media (max-width: 480px) {
  .ham {
    display: block;
  }
  .nav a {
    display: none;
  }
}

.product_cart {
  background-color: blueviolet;
  width: 320px;
  height: 200px;
}
.product_cat {
  display: flex;
  gap: 32px;
  justify-content: center;
  text-align: center;
  padding-top: 50px;
}

.counter {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.counter_output {
  font-size: 20px;
  color: black;
}

.btn_container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  width: 150px;
}

.control_btn {
  font-size: 20px;
  border: 1px solid black;
  width: 230px;
}
.me {
  background-color: rgb(125, 200, 233);
  width: 320px;
  height: 200px;
}
.proo {
  display: flex;
  gap: 32px;
  justify-content: center;
  text-align: center;
  padding-top: 50px;
}

.change {
  display: flex;
  justify-content: center;
  gap: 16px;
}
.taste {
  background-color: rgb(161, 208, 107);
  width: 320px;
  height: 200px;
}
.tastee {
  display: flex;
  gap: 32px;
  justify-content: center;
  text-align: center;
  padding-top: 50px;
}

.Appp {
  min-height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  align-items: center;
  background-color: palevioletred;
  padding: 50px 450px;
}

.post {
  box-sizing: border-box;
  border-radius: 2px;
  border: 3px solid black;
}

.block {
  display: grid;
  gap: 20px;
}
